
@{
    ViewBag.Title = "MembershipIndex";
    Layout = "~/Views/Shared/_Layout -Admin.cshtml";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout -Admin.cshtml";
}
<style>
    .dataTables_filter {
        margin-bottom: 10px;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<script>

    var js = jQuery.noConflict(true);

    js(document).ready(function () {

        js('#tblReg').DataTable({

            "searching": true,

            //   "scrollY": 355,

            "paging": true,

            "ordering": true,

            "info": true,

            "responsive": true

        });

    });


</script>
<section>

    <div>

        <div class="card p-3">

            <div class="row my-2 mt-1">

                <div class="col-md-12 text-end">

                    @*<button class="btn btn-info" onclick="AddEvent()"><i class="fa fa-user-circle" data-bs-target="#staticBackdrop"></i> &nbsp;  Add Member</button>*@
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Add Package
                    </button>
                </div>

            </div>

            <div class="table-responsive">

                <table id="tblReg" class="table table-bordered table-hover table-striped" style="width:100%;">

                    <thead class="text-white bg-dark">

                        <tr>

                            <td class="text-white bg-dark"> title</td>

                            <td class="text-white bg-dark">Photo</td>

                            <td class="text-white bg-dark">Desription</td>

                            <td class="text-white bg-dark">Duration</td>

                            <td class="text-white bg-dark">Amount</td>

                            @*<td class="text-white bg-dark">Start Date</td>*@

                            <!--<td class="text-white bg-dark">Due Date</td>

                               <td class="text-white bg-dark">Amount</td>

                              <td class="text-white bg-dark">Discount</td>

                               <td class="text-white bg-dark">Total Amount</td>-->

                            <td class="text-white bg-dark"></td>
                        </tr>

                    </thead>

                    <tbody>
                        <!-- Record 1 -->
                        <tr>
                            <td>Constructon</td>
                            <td>4 month</td>
                            <td>$500</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil-square" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-info btn-sm"><i class="bi bi-eye-fill" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill" aria-hidden="true"></i></button>&nbsp;
                            </td>

                        </tr>
                        <!-- Record 2 -->
                        <tr>
                            <td>Library</td>
                            <td>3 year</td>
                            <td>$300</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil-square" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-info btn-sm"><i class="bi bi-eye-fill" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill" aria-hidden="true"></i></button>&nbsp;
                            </td>
                        </tr>
                        <!-- Record 3 -->
                        <tr>
                            <td>Developer</td>
                            <td>4 month</td>
                            <td>$700</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil-square" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-info btn-sm"><i class="bi bi-eye-fill" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill" aria-hidden="true"></i></button>&nbsp;
                            </td>
                        </tr>
                        <!-- Record 4 -->
                        <tr>
                            <td>Constructon</td>
                            <td>4 month</td>
                            <td>$500</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil-square" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-info btn-sm"><i class="bi bi-eye-fill" aria-hidden="true"></i></button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill" aria-hidden="true"></i></button>&nbsp;
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Package Form</h5>

                            <!-- Floating Labels Form -->
                            <form class="row g-3 ">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                                        <label for="floatingName">Title</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="file" class="form-control" id="floatingPhoto">
                                        <label for="floatingName">Photo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEmail" placeholder="Your Email">
                                        <label for="floatingEmail">Description</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEmail" placeholder="Your Email">
                                        <label for="floatingEmail">Duration</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingCity" placeholder="Amount">
                                        <label for="floatingCity">Amount</label>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End floating Labels Form -->

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
